.about-us-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 20px; 
}

.about-us-content {
  flex: 1;
  max-width: 600px;
}

.about-us-content h1 {
  color: #e74c3c;
  font-size: 36px;
  margin-bottom: 20px;
}

.about-us-content p {
  font-size: 18px;
  line-height: 1.6;
  color: maroon;
}

.about-us-image {
  flex: 1;
  margin-left: 11rem;
}

.about-us-image img {
  width: 100%;
  max-width: 400px; 
  border-radius: 10px;
  margin-left: 6px;
}
