
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
}


.blood-donor-form {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 400px;
    margin: 20px auto; 
}

h2 {
    color: #e74c3c;
}

input[type="text"], select {
    width: calc(100% - 20px); 
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
button {
    background-color: #e74c3c;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
}

button:hover {
    background-color: #c0392b;
}


.message {
    color: red;
}

label {
    display: block;
    text-align: left; 
    margin: 10px 0;
}


.gender-selection {
    text-align: left; 
    margin-bottom: 10px;
}

.gender-selection label {
    margin-right: 20px;
}
